# Rust build artifacts
/target/

# Files and directories created by pub (legacy Dart)
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# IntelliJ
.idea
*.iml

.DS_Store
